.main {
  width: 400px; height: 400px;
  object-fit: contain;
}
.head {
  color: gray;
  justify-content:center;
}

h1 {
   text-align: center;
   box-sizing: border-box;
   color:#007bff;
    }
body {
  background-color: #343a40;
  color: white;
}

.row {
  flex-wrap: nowrap;
  color: #007bff;
  text-align: center;
  justify-content: space-between;display: flex;
}

.info {
  object-fit: cover;
  width: 200px;height: 200px;
}
h2 {
  display: flex;
  align-items: center;
  }
form {
  justify-content: center;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
p2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    m
  }
